<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/6login.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <body>
        <div class="box">
          <form action="" id="adminlog">
            <h2>ADMIN LOG IN</h2>
            <div class="inputBox">
              <input id="email" type="email" name="email"   required="required">
              <span>Email</span>
              <i></i>
            </div>
            <div class="inputBox">
              <input id="password" type="password" name="password" required="required">
              <span>Password</span>
              <i></i>
            </div>
            <span id="submit-error" style="color: red;margin-top: 10px;"></span>
            <input type="submit" value="Login">
          </form>
          <script src="/script/adminlog.js"></script>
      </body>
      
      </html>



