<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="/css/6signup.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign page</title>
</head>
<body>
    <body>
        <div class="box">
          <form action="/signup" id="signup">
            <h2>SIGN IN</h2>
            <div class="inputBox">
                <input id="name" type="username"  name="name" required="required">
                <span>Name</span>
                <i></i>
              </div>
              <div class="inputBox">
              <input id="email" type="email"  name="email" required="required">
              <span>Email</span>
              <i></i>
              </div>
              <div class="inputBox">
                <input id="password" type="password" name="password" required="required">
                <span>Password</span>
                <i></i>
              </div>
              <div class="inputBox">
                <input  id="phone" type="phone" name="phone" required="required">
                <span>Phone</span>
                <i></i>
                </div>
                <span id="submit-error" style="color: red;margin-top: 10px;"></span>
                <div class="inputBox">
                  <input type="submit" value="Signup">
                  </div>
                <script src="/script/signup.js">
                  
                </script>
      </body>

      
      </html>
</body>
</html>


